<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Transaction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container">
        <header class="transaction-form-header">
            <h1>Add New Transaction</h1>
        </header>
        <section class="transaction-form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Add Transaction</button>
            </form>
        </section>
    </div>
</body>
</html>
