{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Management</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
    <div class="cover-page-container">
        <div class="cover-content">
            <h1>Welcome to the Personal Finance Management Application Project</h1>
            <a href="{% url 'registration' %}" class="get-started-btn">Let's Get Started</a>
        </div>
    </div>
</body>

</html>
